
FoodsharingWebAPI/FoodsharingWebAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FoodsharingWebAPI/FoodsharingWebAPI/obj/Debug/net8.0/FoodsharingWebAPI.AssemblyInfo.cs
FoodsharingWebAPI/FoodsharingWebAPI/obj/Debug/net8.0/FoodsharingWebAPI.AssemblyInfoInputs.cache
FoodsharingWebAPI/FoodsharingWebAPI/obj/Debug/net8.0/FoodsharingWebAPI.assets.cache
FoodsharingWebAPI/FoodsharingWebAPI/obj/Debug/net8.0/FoodsharingWebAPI.csproj.AssemblyReference.cache
FoodsharingWebAPI/FoodsharingWebAPI/obj/Debug/net8.0/FoodsharingWebAPI.GeneratedMSBuildEditorConfig.editorconfig
FoodsharingWebAPI/FoodsharingWebAPI/obj/FoodsharingWebAPI.csproj.nuget.dgspec.json
FoodsharingWebAPI/FoodsharingWebAPI/obj/Debug/net8.0/FoodsharingWebAPI.GlobalUsings.g.cs
FoodsharingWebAPI/FoodsharingWebAPI/obj/FoodsharingWebAPI.csproj.nuget.g.props
FoodsharingWebAPI/FoodsharingWebAPI/obj/project.assets.json
FoodsharingWebAPI/FoodsharingWebAPI/obj/FoodsharingWebAPI.csproj.nuget.g.targets
FoodsharingWebAPI/FoodsharingWebAPI/obj/project.nuget.cache
